<center><h3>Лабораторна робота № 9</h3>
<h4>Тема: Робота з компонентами MVC-RoR проекту</h4>
<p><b>Мета роботи</b> – навчитися створювати веб-аплікації із хедерами,
футерами та Bootstrap.</p>
<h4>9.1 Завдання для виконання</h4>
<p>В лабораторній роботі №8 було створено просту аплікацію для
реєстрування користувачів. В цій роботі потрібно додати зручності для
роботи з додатком і додати оформлення.</p>
<p>Послідовність виконання завдань:<br>
1. Відкрити проект ЛР8;<br>
2. Додати до проекту хедер і футер [1].<br>
3. У футері розмістити контактну інформацію про розробника.<br>
4. Приєднати до проекту фреймворк Bootstrap [2].<br>
5. Вибрати один із готових шаблонів в розділі Navs & Tabs [3],
розмістити його у хедері свого проекту.<br>
6. До пунктів навігації приєднати такі дії "Про проект", "Створити
користувача", "Показати всіх користувачів", "Видалити всіх користувачів".
Дія "Про проект" повинна відображати завдання до цієї лабораторної роботи.<br>
7. Видалити дії, які є на сторінках, і продубльовані в навбарі.<br></p>
<h4>9.3 Зміст звіту</h4>
<p>Звіт повинен містити:<br>
1) Тему, мету роботи;<br>
2) Всі фрагменти коду, які створені або модифіковані вами;<br>
3) Скріншоти роботи проекту у браузері;<br>
4) Cкріншот запущеного сервера із 2-3 відповідями;<br>
5) Покликання на GitHub цього проекту;<br>
6) Висновки.<br></p>
</center>
