<html>
<head><title>Hi <%= @stud %>!</title></head>
<body>
<h1>Hello, <%= @stud %>!</h1>
<p>Це повідомлення прибуло з app/views/hi/index.html.erb</p>
<% 5.times do |i|%>
<p><%= @message.call(i) %></p>
<% end %>
<p><%= @time %></p>
</body>
</html>
